.header {
	border-bottom: 2px solid #dc0101
}

.page {
	
}

.footer {
	
}

.column {
	/* border: 1px solid black; */
	width: 1000px;
	margin: 0px auto;
}

body {
	margin: 0px;
	padding: 0px;
}

.page .column {
	height: 100vh;
}

#logo-i-social {
	display: flex;
}

#logo-holder {
	flex-grow: 1;
}

#social-i-holder {
	flex-grow: 1;
	text-align: right;
}

#social-i-holder a {
	text-decoration: none;
}

#social-i-holder a img {
	width: 24px;
	height: 24px;
	margin: 5px;
}

#main-menu {
	display: flex;
}

#main-menu a {
	flex-grow: 1;
	text-align: center;
	display: block;
	padding: 10px 0;
	text-decoration: none;
	color: #dc0101;
	transition: 300ms;
	/* border: 1px solid black; */
}

#main-menu a:hover,
#main-menu a.active {
	color: #ffffff;
	background: #dc0101;
}

#pocetna {
	text-align: center;
	color: #ffffff;
	background: url('assets/pozadina/hacker.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#pocetna h1 {
	font-size: 48pt;
	margin-top: 0px;
	padding-top: calc(50vh - 250px);
	
	
}

.dark-box {
	background-color: #44444490;
	border: 1px solid #ffffff;
	font-size: 24pt;
	padding: 15px;
}

#usluge {
	background: url('assets/pozadina/hacker.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#usluge {
	background: url('assets/pozadina/retro_computer.jpg');
	background-size: cover;
}

#karijera {
	background: url('assets/pozadina/beawesome.jpg');
	background-size: cover;
}

.align-center {
	text-align: center;
}

.krugovi {
	display: flex;
	margin: 50px 0;
}

.krug-holder {
	flex-grow: 1;
	text-align: center;
}

.krug {
	background: #dc0101;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	display: inline-block;
	padding: 25%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.oznaka {
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}

.tehnologije {
	display: flex;
	margin: 50px 0;
}

.tehnologija {
	flex-grow: 1;
	text-align: center;
}

.tehnologija img {
	width: 48px;
	height: 48px;
}

.tehnologija p {
	font-weight: bold;
}








